body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin: 0 auto;
  padding: 0;
}

html {
  --color-accent: #b8c4c4;
  --color-hover: #ff4fa3;
  --color-hover-bg: #f8e6ec;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0.5em;
  transition: 0.2s;
}

nav a.current {
  border-bottom: 0.35em solid var(--color-accent);
  padding-bottom: 0.15em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 0.35em solid var(--color-hover);
  padding-bottom: 0.15em;
  background-color: var(--color-hover-bg);
  font-weight: bold;
}

main {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}